/*

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translate(0, 100%);
    flex-direction: column;
}*/


.navbar {
    list-style: none;
    display: flex;
    justify-content: space-between;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;
}



@media screen and (max-width: 1430px){
    .navbar{
        display: flex;
        flex-direction: column;
        transform: translate(0, 100%);
        transition: transform .5s ease-in;
        z-index: 0;
    }
    .navbar li {
        opacity: 0;
    }
}

.navbarActive {
    transform: translate(0%, 5%);
    position: absolute;
    list-style: none;
}

@keyframes navLinksFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}



.mainMenuItem a {
    text-decoration: none;
    color: #fff;
    padding: 28px 28px;
    box-sizing: border-box;
    text-transform: uppercase;
    white-space: nowrap;
    display: block;
}


.mainMenuItem:hover a {
    padding-bottom: 50px;
    box-sizing: border-box;
    transition: all 0.5s;
    display: inherit;
}
