@import './src/common/styles/sass/variables.scss';
@import './src/common/styles/sass/mixins';

.title {
    @include text(50px, 1.2, $TitleColor, 400);
    margin: 0 0 30px;
    position: relative;
    padding: 0 15px 20px 15px;
    & h1{
        margin: 0;
    }
    &::after{
        content: '';
        position: absolute;
        background-color: #f26522;
        width: 150px;
        height: 2px;
        bottom: -5px;
        left: 50%;
        transform: translate(-50%, 50%);
    }
}




