.skillsBlock {
    height: 100vh;
    background-color: #94ff82;
}

.containerSkills {
    flex-direction: column;
    justify-content: flex-start;
}

.title {
    background-color: #d0d0d0;
}

.skills {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}


