@import '../common/styles/sass/variables.scss';

.skillsBlock {
  padding-top: 80px;
  min-height: 100vh;
  background-color: $bgColor;
  box-sizing: border-box;
  width: 100%;

  .containerSkills {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    flex-wrap: nowrap;

    .skills {
      width: 60%;
      padding-left: 15px;
      padding-right: 15px;
      @media screen and (max-width: 848px) {
        justify-content: center;
      }
      .blockSkills {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 25px;
      }
    }
  }
}








