.skillsBlock {
    padding-top: 80px;
    min-height: 100vh;
    background-color: #f9f9f9;
    box-sizing: border-box;
    width: 100%;
}

.containerSkills {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    flex-wrap: nowrap;
}

.skills {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 60%;
    padding-left: 15px;
    padding-right: 15px;
}

.title {
    padding-left: 15px;
    padding-right: 15px;
}

@media screen and (max-width: 848px){
    .works {
        justify-content: center;
    }
}


