@import '../common/styles/sass/variables.scss';

.skillsBlock {
  /*height: 100vh;*/
  padding-top: 80px;
  box-sizing: border-box;
  width: 100%;
}

.containerSkills {
  display: flex;
  align-items: flex-start;
}

.blockSkills {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}






