/*@import '../common/styles/sass/variables.scss';*/

.main {
    background-color: #fff;
    min-height: 100vh;
}

.homeBanner{
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    width: 100%;
    height: 700px;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

.bannerInfo {
    position: absolute;
    top: 50%;
    width: 100%;
    margin-top: -100px;
}

.bannerInfo h1 {
    font-family: 'Sacramento', cursive;
    font-size: 72px;
    font-weight: 700;
    color: #2d3038;
    line-height: 1.1;
    margin: 0.67em 0 0;
}

.bannerInfo h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 110px;
    line-height: 80px;
    margin-top: 0;
    margin-left: -8px;
    font-weight: 700;
    color: #2d3038;
    margin-bottom: 10px;
}

.bannerInfo h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #2d3038;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 26px;
    margin-top: 20px;
    margin-bottom: 10px;
}









