/*@import '../common/styles/sass/variables.scss';*/

.main {
    margin-top: 80px;
    min-height: 100vh;
    display: flex;
    align-items: center;

}

.containerMain {
    flex-wrap: wrap-reverse;
}

.cont {
    height: 100%;
    background: white;

}

.bannerInfo {

}

.bannerInfo span {
    font-family: 'Sacramento', cursive;
    font-size: 72px;
    font-weight: 700;
    color: #2d3038;
    line-height: 1.1;

}
@media screen and (max-width: 767px){
    .bannerInfo span {
        font-size: 40px;
        margin-bottom: 5px;
    }}

.bannerInfo h1 {
    margin-top: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 110px;
    line-height: 80px;
    font-weight: 700;
    color: #2d3038;
}
@media only screen and (max-width: 479px) {
    .bannerInfo h1 {
        font-size: 40px;
        line-height: 15px;
    }}

.bannerInfo p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #2d3038;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 26px;
    margin: 10px 0;

}
@media only screen and (max-width: 479px) {
    .bannerInfo p {
        font-size: 14px;
        letter-spacing: 8px;
    }}

.photo {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 823px;
    width: 690px;
}








