.main {
    background-color: #dfbeec;
    height: 100vh;
}

.greeting {
    width: 300px;
    background-color: #d0d0d0;
}

.foto {
    background-color: #fd6363;
    width: 300px;
    height: 300px;
}
