.nav {
    display: flex;
    border: 1px solid;
    width: 350px;
    justify-content: space-between;
    color: white;
}

.nav a {
    text-decoration: none;
    cursor: pointer;
}

.nav a:active{
    color: white;
}

