.footerBlock {
    height: 150px;
    background-color: #92d0ff;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.footer {
    display: flex;
   flex-direction: column;
    align-items: center;
    text-align: center;
}

.footer h3 {
    margin-top: 0;
}

.box {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}