.footerBlock {
    background-color: #f2f2f2;
    display: flex;
    text-align: end;
    padding-top: 22px;
    padding-bottom: 10px;
}

.footerContainer {

}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


.footerContainer h3 {
    font-family: 'Sacramento', cursive;
    margin: 0 0 10px;
    color: #f7941d;
    font-weight: 600;
    font-size: 1.6em;
}

.contacts {
    margin: 0 0 10px;
    width: 280px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

a {
    color: #2d3038;
}

a:hover {
    color: #333;
}

.icon {
    width: 20px;
    height: 20px;
    font-size: 1.7em;
}


.reserved {
    margin: 0 0 10px;
}

.reserved span{
    font-family: 'Montserrat', sans-serif;;
    font-weight: 600;
    color: #2d3038;
    font-size: 14px;
}

.box {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}